<section class="intro">
    <div class="banner">
        <div class="banner-overlay left"></div>
        <div class="banner-overlay right"></div>
    </div>
    <div class="intro-text">
        <input id="toggle" type="checkbox">
        An open forum for geeks to connect, discuss &amp; learn latest ideas, technologies and trends in
        software development.
        <div id="expand">
            Geek Night is a monthly event to promote sharing of technical knowledge and increase collaboration between
            geeks in Chennai. It is organized by a passionate group of programmers and sponsored by ThoughtWorks.

            It happens on the <b>Last Thursday of every month</b>, unless that's a public holiday or any other
            unavoidable cause, like an Alien invasion.

            We love feedback! If you have any suggestions or cribs, feel free to fill out our
            <a rel="nofollow" href="https://geeknight.typeform.com/to/cZEhey" target="_blank"> feedback form</a>.
            Don't worry, its completely anonymous.

            Geek Night Volunteers
        </div> <label class="read-more" for="toggle"></label>
    </div>
    <div class="intro-registration">
        <div class="intro-registration-button participate">
            {% if item[:participate] %}
            <a href="{{ @item[:participate] }}" target="_blank" rel="nofollow"
               onclick="ga('send', 'event', 'participate', 'participate')">
                <div>Participate</div>
            </a>
            <div class="intro-registration-button-sub-text">
                to learn exciting new stuff <br/>
                <small>(and to connect with fellow geeks)</small>
            </div>
            {% else %}
            <div><strike>Participate</strike></div>
            {% if start_date.future? %}
            <div class="intro-registration-button-sub-text">
                registrations not yet open
                <small>(please check out in a few days)</small>
            </div>
            {% else %}
            <div class="intro-registration-button-sub-text">
                registrations closed <br/>
                <small>(sorry, but check out next geek night)</small>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <div class="intro-registration-button talk">
            {% if item[:talk] %}
            <a href="{{ @item[:talk] }}" target="_blank" rel="nofollow"
               onclick="ga('send', 'event', 'talk', 'talk')">
                <div>Present</div>
            </a>
            <div class="intro-registration-button-sub-text">
                to share exciting new stuff <br/>
                <small>(accepted for this and subsequent geek nights)</small>
            </div>
            {% else %}
            <div><strike>Present</strike></div>
            <div class="intro-registration-button-sub-text">
                presentations not yet open <br/>
                <small>(please check out in a few days)</small>
            </div>
            {% endif %}
        </div>
    </div>
</section>