<section class="intro">
    <div class="banner">
        <div class="banner-overlay">
            <div class="intro-info">
                <div class="intro-info-place">
                    <div class="intro-info-place-title">CHENNAI</div>
                </div>
                <div class="intro-info-edition">45<sup>th</sup> Edition</div>
                <div class="intro-info-date">July 27<sup>th</sup>, 2017</div>
                <div class="intro-info-buttons">
                    <div class="intro-info-buttons-button">
                        {% if item[:participate] %}
                        <a href="{{ @item[:participate] }}" target="_blank" rel="nofollow"
                           onclick="ga('send', 'event', 'participate', 'participate')">
                            <div class="intro-info-buttons-button-text">PARTICIPATE</div>
                        </a>
                        <div class="intro-info-buttons-button-sub-text">
                            to learn exciting new stuff <br/>
                        </div>
                        {% else %}
                        <div class="intro-info-buttons-button-text"><strike>PARTICIPATE</strike></div>
                        {% if start_date.future? %}
                        <div class="intro-info-buttons-button-sub-text">
                            Registrations not yet open
                        </div>
                        {% else %}
                        <div class="intro-info-buttons-button-sub-text">
                            Sorry! registrations closed <br/>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="intro-info-buttons-button">
                        {% if item[:talk] %}
                        <a href="{{ @item[:talk] }}" target="_blank" rel="nofollow"
                           onclick="ga('send', 'event', 'talk', 'talk')">
                            <div class="intro-info-buttons-button-text">PRESENT</div>
                        </a>
                        <div class="intro-info-buttons-button-sub-text">
                            Share exciting stuff <br/>
                        </div>
                        {% else %}
                        <div class="intro-info-buttons-button-text"><strike>PRESENT</strike></div>
                        <div class="intro-info-buttons-button-sub-text">
                            Presentations not yet open <br/>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>