<header id="header">
    <nav class="nav-bar">
        <div class="logo-section">
            <a href="http://www.thoughtworks.com" target="_blank" onclick="ga('send', 'event', 'tw', 'tw')">
                Sponsored by
            </a>
            <div class="logo"></div>
        </div>
        <div class="menu">
            <div class="menu-item"><a href="#about">About</a></div>
            <div class="menu-item"><a href="#agenda">Agenda</a></div>
            {% if @item == latest %}
            <div class="menu-item"><a href="#location">Location</a></div>
            {% endif %}
            <div class="menu-item"><a href="#archive">All Editions</a></div>
        </div>
    </nav>
</header>
