#header {
  background: $pink;
  position: fixed;
  height: 50px;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 999;
  a {
    text-decoration: none;
    color: white;
  }
  .nav-bar {
    width: 960px;
    display: flex;
    position: relative;
    top: 15px;
    bottom: 15px;
    margin: auto;
    opacity: 0.85;
    .logo-section {
      display: flex;
      flex: 1 1 50%;
      .logo {
        background: $tw-logo no-repeat;
        background-size: 140px;
        height: 35px;
        width: 140px;
        margin-left: 5px;
      }
    }
    .menu {
      display: flex;
      flex: 1 1 30%;
      &-item {
        flex: 1 1 20%;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}