---
---

//Colors
$pink: #ef5ba1;
$white: #FFF;
$black: #000;
$seafoam-blue: #80c9d2;
$bluish-green: #11aa58;
$rouge: #b11c54;
//Images
$tw-logo: url({{ "/assets/img/tw-logo-white.svg" | prepend: site.url }});
$direction-img: url({{ "/assets/img/direction.svg" | prepend: site.url }});
$intro-background: url({{ "/assets/img/intro_background.jpg" | prepend: site.url }});

html {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  body {
    position: relative;
    margin: auto;
    min-width: 960px;
  }
  a {
    color: $pink;
  }
}

#toggle {
  display: none;
  visibility: hidden;
}

#expand {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
#toggle:checked ~ #expand {
  height: 285px;
}

@import "header";
@import "intro";
@import "location";
@import "footer";
